<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Hey|SCG</title>
    <!-- Fav and touch icons -->
   
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <!-- Plugin -->
    <link href="{% static 'assets/css/plugin.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
    <!-- Custom Responsive -->
    {% comment %} <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet"> {% endcomment %}
    <!-- place -->


     {% block linked %}{% endblock linked %}

</head>
<body>
    {% block content %}{% endblock content %}
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Inview -->
    <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- Nice Select -->
    <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
    <!-- Range Slider -->
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <!-- Morris Chart -->
    <script src="{% static 'assets/js/raphael-min.js' %}"></script>
    <script src="{% static 'assets/js/morris.min.js' %}"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- /Place all Scripts Here -->
</body>
</html> 