<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Libo | carrers</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favicon.ico">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Plugin -->
    <link href="assets/css/plugin.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- place -->
</head>

<body>
    <!-- Start Header -->
    <header class="header">
        <!-- topbar -->
        <div class="topbar bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <ul class="custom-flex left-side">
                            <li>
                                <select class="custom-select form-control form-control-custom mb-0">
                                    <option>English</option>
                                    <option>German</option>
                                    <option>French</option>
                                </select>
                            </li>
                            <li>
                                <a href="#" class="text-custom-white">Get Job Alert <i class="fal fa-briefcase"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="right-side">
                            <p class="no-margin text-custom-white">Bespoke Solutions Tailored to Your Business. <a href="#" class="text-orange fw-500">Free Counsultancy</a></p>
                            <ul class="custom-flex">
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- middle sec -->
        <div class="middle-head bg-light-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-6">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.png" class="image-fit" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-6">
                        <div class="right-side">
                            <ul class="custom-flex">
                                <li>
                                    <a href="#" class="text-blue">
                                        <i class="fal fa-envelope text-orange"></i>
                                        info@consulting.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-blue">
                                        <i class="fal fa-phone text-orange"></i>
                                        +098 987 987 98 7
                                    </a>
                                </li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-orange">Get A Quote <i class="fal fa-plus"></i></a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="main-nav">
                            <nav>
                                <ul class="custom-flex main-menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Home</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="index.html">Homepage 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="homepage-2.html">Homepage 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="homepage-3.html">Homepage 3</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="about.html">About</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Services</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="service-1.html">Service 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="service-2.html">Service 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="service-detail.html">Service Detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Pages</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="shop.html">Shop</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="shop-detail.html">Shop Detail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="portfolio-1.html">Portfolio 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="portfolio-2.html">Portfolio 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="project-detail.html">Project Detail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="team.html">Team</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="careers.html">Careers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">News</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="news-grid.html">News Grid</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="news-standard.html">News Standard</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="news-detail.html">News Detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="nav-right">
                                <ul class="custom-flex">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li class="search">
                                        <a href="#">
                                            <i class="fal fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-popup" id="search-popup">
                <form action="#" class="search-form">
                    <div class="input-group">
                        <input type="text" name="#" class="form-control form-control-custom" placeholder="Search">
                        <div class="input-group-prepend">
                            <button type="submit" class="theme-btn"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="body-overlay" id="body-overlay"></div>
        </div>
    </header>
    <!-- End Header -->
    <!-- Start Subheader -->
    <div class="normal-bg subheader" style="background-image: url('assets/images/subheader.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="subheader-content">
                        <h1 class="page-title text-custom-white fw-600">Careers</h1>
                        <ul class="custom-flex breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Careers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subheader -->
    <!-- Start Careers -->
    <section class="section-padding career-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive careers-table">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-google"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Engineer: Observability Applications</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-white-orange">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">UI/UX: Senior UX Designer</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-light-2">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Developer: Software Developer</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-white-orange">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-behance"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Consultant: Digital Stratigist</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-light-2">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-youtube"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Writter: English Translator</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-white-orange">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-linkedin"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Support: Support Engineer</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-light-2">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icon">
                                            <i class="fab fa-youtube"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <h3 class="fw-600 no-margin"><a href="#">Developer: Software Developer</a></h3>
                                    </td>
                                    <td>Status: Full Time</td>
                                    <td>Location: Holololo, UK</td>
                                    <td>
                                        <a href="#" class="theme-btn btn-white-orange">
                                            Apply Now
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Careers -->
    <!-- Start benefits -->
    <section class="section-padding bg-dark-blue">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-header left-heading">
                        <div class="section-heading">
                            <h6 class="text-orange mb-xl-10 sub-heading"><span>Others</span></h6>
                            <h3 class="text-custom-white fw-700 title">You Should Apply Here For Move Forward<span class="text-orange">.</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right mb-xl-30">
                    <a href="#" class="theme-btn btn-orange">Apply Now <i class="fal fa-plus"></i></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl col-md-4 col-sm-6">
                    <div class="benefit-box mb-lg-30">
                        <div class="icon text-orange">
                            <i class="flaticon-safe"></i>
                        </div>
                        <h5 class="fw-600"><a href="#" class="text-custom-white">Health Care</a></h5>
                        <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed.</p>
                    </div>
                </div>
                <div class="col-xl col-md-4 col-sm-6">
                    <div class="benefit-box mb-lg-30">
                        <div class="icon text-orange">
                            <i class="flaticon-tax-1"></i>
                        </div>
                        <h5 class="fw-600"><a href="#" class="text-custom-white">Flexibilty</a></h5>
                        <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed.</p>
                    </div>
                </div>
                <div class="col-xl col-md-4 col-sm-6">
                    <div class="benefit-box mb-lg-30">
                        <div class="icon text-orange">
                            <i class="flaticon-meeting"></i>
                        </div>
                        <h5 class="fw-600"><a href="#" class="text-custom-white">Meals</a></h5>
                        <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed.</p>
                    </div>
                </div>
                <div class="col-xl col-md-4 col-sm-6">
                    <div class="benefit-box mb-sm-30">
                        <div class="icon text-orange">
                            <i class="flaticon-lcd"></i>
                        </div>
                        <h5 class="fw-600"><a href="#" class="text-custom-white">Gaming Zone</a></h5>
                        <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed.</p>
                    </div>
                </div>
                <div class="col-xl col-md-4 col-sm-6">
                    <div class="benefit-box">
                        <div class="icon text-orange">
                            <i class="flaticon-target"></i>
                        </div>
                        <h5 class="fw-600"><a href="#" class="text-custom-white">Lifestyle</a></h5>
                        <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End benefits -->
    <!-- Start Blog -->
    <section class="section-padding">
        <div class="container">
            <div class="section-header">
                <div class="section-heading">
                    <h6 class="text-orange mb-xl-10 sub-heading"><span>News</span></h6>
                    <h3 class="text-blue fw-700 title">Get connect with us<span class="text-orange">.</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-slider row">
                        <div class="col-lg-12 slide-item">
                            <div class="blog-style-1">
                                <div class="post-img animate-img">
                                    <a href="news-detail.html">
                                        <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="date">24</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="post-content">
                                    <div class="post-category">
                                        <p class="double-lines text-orange fw-600 mb-1"><span><a href="#" class="text-orange">Finance</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="news-detail.html">Improving lives with tech HSE lighthouse project</a></h2>
                                    <ul class="custom-flex post-meta">
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-user text-orange"></i>
                                                Rosalia D.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-calendar-alt text-orange"></i>
                                                24th June 2020
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 slide-item">
                            <div class="blog-style-1">
                                <div class="post-img animate-img">
                                    <a href="news-detail.html">
                                        <img src="assets/images/blog-2.jpg" class="image-fit" alt="">
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="date">18</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="post-content">
                                    <div class="post-category">
                                        <p class="double-lines text-orange fw-600 mb-1"><span><a href="#" class="text-orange">Business</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="news-detail.html">Improving lives with tech HSE lighthouse project</a></h2>
                                    <ul class="custom-flex post-meta">
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-user text-orange"></i>
                                                Rosalia D.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-calendar-alt text-orange"></i>
                                                18th June 2020
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 slide-item">
                            <div class="blog-style-1">
                                <div class="post-img animate-img">
                                    <a href="news-detail.html">
                                        <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="date">04</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="post-content">
                                    <div class="post-category">
                                        <p class="double-lines text-orange fw-600 mb-1"><span><a href="#" class="text-orange">Consultancy</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="news-detail.html">Improving lives with tech HSE lighthouse project</a></h2>
                                    <ul class="custom-flex post-meta">
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-user text-orange"></i>
                                                Rosalia D.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fal fa-calendar-alt text-orange"></i>
                                                04th June 2020
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog -->
    <!-- Start Footer -->
    <footer class="section-padding bg-dark-blue footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="ft-logo mb-lg-80">
                        <img src="assets/images/ft-logo.png" class="image-fit" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-sm-80">
                        <h5 class="text-custom-white fw-600">About Us<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Insights</a>
                            </li>
                            <li>
                                <a href="#">PCI Compliance</a>
                            </li>
                            <li>
                                <a href="#">Integrations</a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-sm-80">
                        <h5 class="text-custom-white fw-600">For Developers<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">Docs</a>
                            </li>
                            <li>
                                <a href="#">Knowledge base</a>
                            </li>
                            <li>
                                <a href="#">System status</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                            <li>
                                <a href="#">Security</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-xs-80">
                        <h5 class="text-custom-white fw-600">Resources<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">PDF Docs</a>
                            </li>
                            <li>
                                <a href="#">Leadership</a>
                            </li>
                            <li>
                                <a href="#">Press/News</a>
                            </li>
                            <li>
                                <a href="#">Careers/Team</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6">
                    <div class="footer-widgets newsletter">
                        <h5 class="text-custom-white fw-600">Subscribe Now<span class="text-orange">.</span></h5>
                        <div class="input-group mb-xl-20">
                            <input type="email" name="#" class="form-control form-control-custom" placeholder="Email address">
                            <div class="input-group-append">
                                <button>
                                    <i class="fal fa-envelope"></i>
                                </button>
                            </div>
                        </div>
                        <img src="assets/images/iso.png" class="image-fit" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <ul class="custom-flex ft-menu">
                        <li>
                            <a href="#" class="text-custom-white">Products</a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">Platform</a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">Refund Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p class="text-custom-white fw-500">Copyright By @ <a href="https://webtend.net/" class="text-custom-white">Webtend</a></p>
                </div>
                <div class="col-lg-4">
                    <ul class="custom-flex ft-social">
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-behance"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top" class="back-top">
        <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
    </div>
    <!-- End Footer -->
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Inview -->
    <script src="assets/js/jquery.inview.min.js"></script>
    <!-- Slick Slider -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.js"></script>
    <!-- Morris Chart -->
    <script src="assets/js/raphael-min.js"></script>
    <script src="assets/js/morris.min.js"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- Custom Js -->
    <script src="assets/js/custom.js"></script>
    <!-- /Place all Scripts Here -->
</body>

</html>