{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Header -->

    {% include 'header.html' %}

   
    <!-- End Header -->

    <!-- Start Slider -->
    <div class="main-slider-section p-relative">
        <div class="main-slider">
            <div class="slide-item">
                <img src="{% static 'assets/images/taj.jpg' %}" class="image-fit" alt="">
                <div class="transform-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7">
                                <div class="banner-content">
                               
                                    <h1 class="text-custom-white fw-600 heading-title">SCG Keeps You Ahead </h1>
                                    <p class="no-margin text-custom-white">Stand apart from your competitors and amplify the ROI with SCG</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <img src="{% static 'assets/images/mentor.png' %}" class="image-fit" alt="">
                <div class="transform-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7">
                                <div class="banner-content">
                                 
                                    <h1 class="text-custom-white fw-600 heading-title">Top Mentors Around You</h1>
                                    <p class="no-margin text-custom-white">SCG includes some of the finest consultants for a variety of industries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <img src="{% static 'assets/images/entre.jpeg' %}" class="image-fit" alt="">
                <div class="transform-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7">
                                <div class="banner-content">
                                 
                                    <h2 class="text-custom-white fw-600 heading-title">Be an  Entrepreneur with SCG.</h2>
                                    <p class="no-margin text-custom-white">Get striking innovative and unmatched biz ideas to start with.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider nav -->
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="main-slider-nav">
                        <div class="slide-item">
                            <h4 class="fw-600 mb-xl-10">Sustainability and strategy</h4>
                            <p class="no-margin fw-500">Marge with our great team</p>
                        </div>
                        <div class="slide-item">
                            <h4 class="fw-600 mb-xl-10">Digital planning with team</h4>
                            <p class="no-margin fw-500">Get an amazing experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider -->
    <!-- Start About -->
    <section class="section-padding about-sec count-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-images p-relative mb-md-80">
                        <img src="" class="img-fluid image-one" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-1.png' %}" class="img-fluid icon-one" alt=""> {% endcomment %}
                        <img src="{% static 'assets/images/pic/b4.jpg' %}" class="img-fluid image-two" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-2.png' %}" class="img-fluid icon-two" alt=""> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="section-header left-heading pb-0">
                        <div class="section-heading">
                            
                            <h3 class="text-blue fw-700 title">Who We Are<span class="text-orange">.</span></h3>
                            <p class="desc">Since 2015, professional consultants have assembled as SCG from the corners of the India and abroad. Each of them holds specialization, proficiency and focus in their unique area. Yet for all the variety in SCG, every individual of our more than 50 professionals have basic and vital in common at some degree: an objective of facilitating our clients make the most of their business <a href="{% url 'whoweare' %}"><b style="color:#03989E;">Read More...</b></a></p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-center">
                                 <span class="count">01</span><span class="text-orange fs-16"></span>
                        </div>
                        <div class="col-8">
                            <h4 class="mb-xl-10 fw-600">SCG that stands for Shreedayini Consulting Group<span class="text-orange">.</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  <a href="{% url 'whoweare' %}"><b style="color:#03989E;">Read More...</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->

    {% comment %} 22222222222222222222222222222222222222222 {% endcomment %}
 <section class="section-padding about-sec count-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-images p-relative mb-md-80">
                        <img src="" class="img-fluid image-one" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-1.png' %}" class="img-fluid icon-one" alt=""> {% endcomment %}
                        <img src="{% static 'assets/images/pic/b7.png' %}" class="img-fluid image-two" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-2.png' %}" class="img-fluid icon-two" alt=""> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="section-header left-heading pb-0">
                        <div class="section-heading">
                          
                            <h3 class="text-blue fw-700 title">What We Do<span class="text-orange">.</span></h3>
                            <p class="desc">We simply aware and acknowledge biz people about their industry, businesses and opportunities that they can make successful and productive decision concerning their business. Apart from that SCG provides vocational training along with skill development to the individuals who are passionate to make it big on their choice of industry. Moreover, we deliver matchless business solutions based on comprehensive and profound research as well data analysis for issues that take place in day to day business scenario  <a href="{% url 'whatwedo' %}"><b style="color:#03989E;">Read More...</b></a></p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-center">
                            <span class="count">02</span><span class="text-orange fs-16"></span>
                        </div>
                        <div class="col-8">
                            <h4 class="mb-xl-10 fw-600">We at SCG, develop entrepreneurs who have potential and leadership ability to achieve milestones in their specific industry<span class="text-orange">.</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <a href="{% url 'whatwedo' %}"><b style="color:#03989E;">Read More...</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section-padding about-sec count-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-images p-relative mb-md-80">
                        <img src="" class="img-fluid image-one" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-1.png' %}" class="img-fluid icon-one" alt=""> {% endcomment %}
                        <img src="{% static 'assets/images/pic/b8.png' %}" class="img-fluid image-two" alt="">
                        {% comment %} <img src="{% static 'assets/images/about-icon-2.png' %}" class="img-fluid icon-two" alt=""> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="section-header left-heading pb-0">
                        <div class="section-heading">
                          
                            <h3 class="text-blue fw-700 title">What We Believe
<span class="text-orange">.</span></h3>
                            <p class="desc">As a consulting company, we believe in finding apt solution for our clients no matter how bigger their problem is. While operating a business, owners encounter numerous kind of glitches and issues day by day. In such situations, opting for a helping hand such as SCG saves time, energy and efforts. Consulting is always much more than giving advice. Another approach is to view the process as a sequence of phases—entry, contracting, diagnosis, data collection, feedback, implementation, and so on. However, these phases are usually less discrete than most consultants admit <a href="{% url 'whatwebelieve' %}"><b style="color:#03989E;">Read More...</b></a></p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-center">
                          <span class="count">03</span><span class="text-orange fs-16"></span>
                        </div>
                        <div class="col-8">
                            <h3 class="mb-xl-10 fw-600">Our mission and vision<span class="text-orange">.</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <a href="{% url 'whatwebelieve' %}"><b style="color:#03989E;">Read More...</b></a></p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->
    <!-- Start Profit Share -->
    <section class="section-padding bg-light-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-md-80">
                    <div class="section-header left-heading pb-0">
                        <div class="section-heading">
                            <h6 class="text-orange mb-xl-10 sub-heading"><span>Profit Share</span></h6>
                            <h3 class="text-blue fw-700 title">Any kind business profit share<span class="text-orange">.</span></h3>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                        </div>
                    </div>
                    <ul class="custom profit-list">
                        <li>Kind business & shop profit share</li>
                        <li>Solid solution with great intregation</li>
                    </ul>
                   
                </div>
                <div class="col-lg-6">
                    <div class="profit-chart-box">
                        <a href="index.html" class="chart-logo">
                            <img src="{% static 'assets/images/logo2.png' %}" class="image-fit" alt="">
                        </a>
                        <a href="#" class="profit-icon icon-ps-1">
                            <span class="icon">
                                <i class="flaticon-receipt"></i>
                            </span>
                            <span class="icon-text">Finance</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-2">
                            <span class="icon">
                                <i class="flaticon-businessman"></i>
                            </span>
                            <span class="icon-text">Consultancy</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-3">
                            <span class="icon">
                                <i class="flaticon-tax"></i>
                            </span>
                            <span class="icon-text">Retail</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-4">
                            <span class="icon">
                                <i class="flaticon-label"></i>
                            </span>
                            <span class="icon-text">Profit Share</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-5">
                            <span class="icon">
                                <i class="flaticon-payment-method"></i>
                            </span>
                            <span class="icon-text">IT & ITes</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-6">
                            <span class="icon">
                                <i class="flaticon-presentation"></i>
                            </span>
                            <span class="icon-text">Growth</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-7">
                            <span class="icon">
                                <i class="flaticon-suitcase"></i>
                            </span>
                            <span class="icon-text">Policy</span>
                        </a>
                        <a href="#" class="profit-icon icon-ps-8">
                            <span class="icon">
                                <i class="flaticon-credit"></i>
                            </span>
                            <span class="icon-text">Construction</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Profit Share -->
    <!-- Start Process -->
    <section class="section-padding process-sec p-relative">
        <div class="container">
            <div class="section-header">
                <div class="section-heading">
                    <h6 class="text-orange mb-xl-10 sub-heading"><span>Process</span></h6>
                    <h3 class="text-blue fw-700 title">How your business going witn us<span class="text-orange">.</span></h3>
                </div>
            </div>
            <div class="lb-big-text">Process</div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="process-box">
                        <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                        <h4 class="fw-600">Great experiance</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                        <span class="icon text-orange">
                            <i class="flaticon-statistics"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="process-box">
                        <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                        <h4 class="fw-600">More solid research</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                        <span class="icon text-orange">
                            <i class="flaticon-market"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="process-box">
                        <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                        <h4 class="fw-600">Save your finance</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                        <span class="icon text-orange">
                            <i class="flaticon-statistics"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Process -->
    <!-- Start Skillset -->
    <section class="skillset-sec">
        <div class="container-fluid no-padding">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <img src="{% static 'assets/images/pic/b2.jpg' %}" class="image-fit" alt="">
                </div>
                <div class="col-lg-6 bg-dark-blue section-padding">
                    <div class="section-header left-heading">
                        <div class="section-heading">
                            <h6 class="text-orange mb-xl-10 sub-heading"><span>Our Skillset</span></h6>
                            <h3 class="text-custom-white fw-700 title">Get amazing experience with our cool team<span class="text-orange">.</span></h3>
                            <p class="desc text-custom-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="skill-progress-bar-sec">
                        <div class="skill-progress-bar mb-xl-30">
                            <div class="progressbar-wrap">
                                <div class="progressbar" data-width="98"></div>
                            </div>
                            <div class="progressbar-text">
                                <p class="text-custom-white">IT Department</p>
                                <p class="text-custom-white">98%</p>
                            </div>
                        </div>
                        <div class="skill-progress-bar mb-xl-30">
                            <div class="progressbar-wrap">
                                <div class="progressbar" data-width="80"></div>
                            </div>
                            <div class="progressbar-text">
                                <p class="text-custom-white">Research Department</p>
                                <p class="text-custom-white">80%</p>
                            </div>
                        </div>
                        <div class="skill-progress-bar mb-xl-30">
                            <div class="progressbar-wrap">
                                <div class="progressbar" data-width="90"></div>
                            </div>
                            <div class="progressbar-text">
                                <p class="text-custom-white">Media </p>
                                <p class="text-custom-white">90%</p>
                            </div>
                        </div>
                        <div class="skill-progress-bar">
                            <div class="progressbar-wrap">
                                <div class="progressbar" data-width="85"></div>
                            </div>
                            <div class="progressbar-text">
                                <p class="text-custom-white">PR & Client Management</p>
                                <p class="text-custom-white">85%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skillset -->
    <!-- Start Faqs -->
    <section class="section-padding-top faqs-sec">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="left-side">
                        <div class="section-header left-heading">
                            <div class="section-heading">
                                <h6 class="text-orange mb-xl-10 sub-heading"><span>FAQ</span></h6>
                                <h3 class="fw-700 title">You have to know before start everything<span class="text-orange">.</span></h3>
                            </div>
                        </div>
                        <div id="accordion" class="custom-faqs">
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                        How to import my whole data?
                                        <span>
                                            <i class="fal fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        How to import my whole data?
                                        <span>
                                            <i class="fal fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        How to import my whole data?
                                        <span>
                                            <i class="fal fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        How to import my whole data?
                                        <span>
                                            <i class="fal fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-man p-relative">
                        <img src="{% static 'assets/images/pic/b9.png' %}" class="image-fit" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Faqs -->
    <!-- Start Quote -->
    <div class="quote-sec p-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="quote-box bg-dark-blue">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 mb-md-80">
                                <div class="section-header left-heading pb-0">
                                    <div class="section-heading">
                                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Get A Quote</span></h6>
                                        <h3 class="fw-700 title text-custom-white">Get a free consultancy right now<span class="text-orange">.</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <p class="text-custom-white">We help you see the world differently, discover opportunities you may never have imagined.</p>
                                <a href="#" class="text-custom-white contact-no">
                                    <i class="fal fa-phone text-orange"></i>
                                     +91 91251 65305
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Quote -->
    <!-- Start Gallery -->
    <section class="section-padding slider-gallery-sec p-relative">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-12">
                    <div class="slider-gallery row arrow-layout">
                        <div class="col-12 slide-item">
                            <img src="{% static 'assets/images/pic/b10.jpg' %}" class="image-fit" alt="">
                            <div class="gallery-text">
                                <h4 class="text-orange mb-xl-10 fw-600 ">OUR VISION</h4>
                                <h6 class="fw-600"><a href="project-detail.html">Back in 2015, a few young minds come up with a concept to establish an organization cum helping hand for businesses and professionals dream to achieve big and become leaders in their specific field. As we believe utilizing our proficiency ...</a></h6>
                            </div>
                        </div>
                        <div class="col-12 slide-item">
                            <img src="{% static 'assets/images/pic/bb.jpg' %}" class="image-fit" alt="">
                            <div class="gallery-text">
                                <h4 class="text-orange mb-xl-10 fw-600 ">OUR MISSION</h4>
                                <h6 class="fw-600"><a href="project-detail.html">SCG is aimed to create competitive advantage for our client businesses and organizations through unmatched solutions. We look for assisting in building proficiencies, mobilizing organizations, Driving long-lasting impact. Apart from ...</a></h6>
                            </div>
                        </div>
                        <div class="col-12 slide-item">
                            <img src="{% static 'assets/images/pic/b12.jpg' %}" class="image-fit" alt="">
                            <div class="gallery-text">
                                <h4 class="text-orange mb-xl-10 fw-600 ">WORTHY GOALS 2021</h4>
                                <h6 class="fw-600"><a href="project-detail.html">SCG is working continuously and symmetrically to ensure its existence in each and every village of north India within two years. Afterwards, SCG is aimed to spread its wings through Pan India. With its consultants, experts, services ...</a></h6>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery -->
    <!-- Start brand slider -->
    <div class="section-padding bg-light-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="brand-slider row">
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-1.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-2.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-3.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-4.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-5.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-1.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-2.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-3.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-4.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                        <div class="slide-item col-12">
                            <a href="#" class="brand-box">
                                <img src="{% static 'assets/images/pic/brand-5.png' %}" class="image-fit" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End brand slider -->
    <!-- Start Testimonials -->
    <section class="normal-bg section-padding testimonials-sec" style="background-image: url('assets/images/map-bg.jpg');">
        <div class="container">
            <div class="section-header">
                <div class="section-heading">
                    <h6 class="text-orange mb-xl-10 sub-heading"><span>Testimonials</span></h6>
                    <h3 class="fw-700 title">Clients feedbacks<span class="text-orange">.</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-slider">
                        <div class="col-12 slide-item">
                            <div class="testimonial-box">
                                <div class="user-img">
                                    <img src="{% static 'assets/images/pic/pro1.jpg' %}" class="image-fit" alt="">
                                </div>
                                <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                                <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                                <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                            </div>
                        </div>
                        <div class="col-12 slide-item">
                            <div class="testimonial-box">
                                <div class="user-img">
                                    <img src="{% static 'assets/images/pic/pro2.jpg' %}" class="image-fit" alt="">
                                </div>
                                <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                                <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                                <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                            </div>
                        </div>
                        <div class="col-12 slide-item">
                            <div class="testimonial-box">
                                <div class="user-img">
                                    <img src="{% static 'assets/images/pic/pro3.jpg' %}" class="image-fit" alt="">
                                </div>
                                <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                                <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                                <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                            </div>
                        </div>
                        <div class="col-12 slide-item">
                            <div class="testimonial-box">
                                <div class="user-img">
                                    <img src="{% static 'assets/images/pic/pro4.jpg' %}" class="image-fit" alt="">
                                </div>
                                <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                                <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                                <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->
	<!-- Start Footer -->
   {% include 'footer.html' %}
    <!-- End Footer -->
{% endblock content %}