<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Libo | Shop</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favicon.ico">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Plugin -->
    <link href="assets/css/plugin.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- place -->
</head>
<body>
    <!-- Start Header -->
    <header class="header">
        <!-- topbar -->
        <div class="topbar bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <ul class="custom-flex left-side">
                            <li>
                                <select class="custom-select form-control form-control-custom mb-0">
                                    <option>English</option>
                                    <option>German</option>
                                    <option>French</option>
                                </select>
                            </li>
                            <li>
                                <a href="#" class="text-custom-white">Get Job Alert <i class="fal fa-briefcase"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="right-side">
                            <p class="no-margin text-custom-white">Bespoke Solutions Tailored to Your Business. <a href="#" class="text-orange fw-500">Free Counsultancy</a></p>
                            <ul class="custom-flex">
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- middle sec -->
        <div class="middle-head bg-light-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-6">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.png" class="image-fit" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-6">
                        <div class="right-side">
                            <ul class="custom-flex">
                                <li>
                                    <a href="#" class="text-blue">
                                        <i class="fal fa-envelope text-orange"></i>
                                        info@consulting.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-blue">
                                        <i class="fal fa-phone text-orange"></i>
                                        +098 987 987 98 7
                                    </a>
                                </li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-orange">Get A Quote <i class="fal fa-plus"></i></a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="main-nav">
                            <nav>
                                <ul class="custom-flex main-menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Home</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="index.html">Homepage 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="homepage-2.html">Homepage 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="homepage-3.html">Homepage 3</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="about.html">About</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Services</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="service-1.html">Service 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="service-2.html">Service 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="service-detail.html">Service Detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Pages</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="shop.html">Shop</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="shop-detail.html">Shop Detail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="portfolio-1.html">Portfolio 1</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="portfolio-2.html">Portfolio 2</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="project-detail.html">Project Detail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="team.html">Team</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="careers.html">Careers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">News</a>
                                        <ul class="custom sub-menu">
                                            <li class="menu-item">
                                                <a href="news-grid.html">News Grid</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="news-standard.html">News Standard</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="news-detail.html">News Detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="nav-right">
                                <ul class="custom-flex">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li class="search">
                                        <a href="#">
                                            <i class="fal fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-popup" id="search-popup">
                <form action="#" class="search-form">
                    <div class="input-group">
                        <input type="text" name="#" class="form-control form-control-custom" placeholder="Search">
                        <div class="input-group-prepend">
                            <button type="submit" class="theme-btn"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="body-overlay" id="body-overlay"></div>
        </div>
    </header> 
    <!-- End Header -->
    <!-- Start Subheader -->
    <div class="normal-bg subheader" style="background-image: url('assets/images/subheader.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="subheader-content">
                        <h1 class="page-title text-custom-white fw-600">Product Showcase</h1>
                        <ul class="custom-flex breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subheader -->
    <!-- Start News -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shop-header">
                        <div class="product-show">
                            <p>Showing 1-12 of 18 result</p>
                        </div>
                        <div class="product-filter">
                            <p>
                                <a href="#">Filter Product <i class="fal fa-filter text-orange"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-1.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-2.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-3.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-4.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-5.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-6.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-7.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-8.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-9.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-10.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-11.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-grid mb-xl-30">
                                <div class="shop-image animate-img">
                                    <a href="shop-detail.html">
                                        <img src="assets/images/shop-12.jpg" class="image-fit" alt="">
                                    </a>
                                    <div class="shop-overlay">
                                        <div class="shop-action">
                                            <button class="custom-tooltip" data-tip="Quick View">
                                                <i class="fal fa-eye"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                            <button class="custom-tooltip" data-tip="Add to cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-caption">
                                    <h5><a href="shop-detail.html">Lucy Love Sophia Rust Chair</a></h5>
                                    <div class="shop-price">
                                        <ins><i class="fas fa-pound-sign"></i> 85.00</ins>
                                        <del><i class="fas fa-pound-sign"></i> 270.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="custom pagination justify-content-center mt-4 mb-md-80">
                                <li class="page-item"><a class="page-link" href="#"><i class="far fa-angle-double-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">10</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="far fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-3">
                    <div class="sidebar shop-sidebar">
                        <div class="widget color-filter-widget mb-xl-30">
                            <h5 class="widget-title">Filter By Color</h5>
                            <form>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#">  
                                    <span class="checkmark"></span> 
                                    Red
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#" checked>  
                                    <span class="checkmark"></span> 
                                    Blue
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#" checked>  
                                    <span class="checkmark"></span> 
                                    White
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#">  
                                    <span class="checkmark"></span> 
                                    Green
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#">  
                                    <span class="checkmark"></span> 
                                    Voilet
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#">  
                                    <span class="checkmark"></span> 
                                    Yellow
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="#">  
                                    <span class="checkmark"></span> 
                                    Orange
                                </label>
                            </form>
                        </div>
                        <div class="widget size-filter-widget mb-xl-30">
                            <h5 class="widget-title">Filter By Size</h5>
                            <ul class="custom">
                                <li>
                                    <a href="#">XS (56)</a>
                                </li>
                                <li>
                                    <a href="#">S (284)</a>
                                </li>
                                <li>
                                    <a href="#">M (284)</a>
                                </li>
                                <li>
                                    <a href="#">L (284)</a>
                                </li>
                                <li>
                                    <a href="#">XL (38)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget price-filter-widget mb-xl-30">
                            <h5 class="widget-title">Filter By Price</h5>
                            <div id="shop-range-price"></div>
                            <div class="range-slider">
                                <input type="text" id="shop-price" readonly>
                                <span>-</span>
                                <input type="text" id="shop1-price" readonly>
                                <p class="no-margin">Filter</p>
                            </div>
                        </div>
                        <div class="widget tag-filter-widget mb-xl-30">
                            <h5 class="widget-title">Filter By Tags</h5>
                            <div class="tags">
                                <a href="#">Accessories</a>
                                <a href="#">Clothing</a>
                                <a href="#">Fashion</a>
                                <a href="#">Footwear</a>
                                <a href="#">Good</a>
                                <a href="#">Kid</a>
                                <a href="#">Men</a>
                                <a href="#">Wear</a>
                                <a href="#">Women</a>
                            </div>
                        </div>
                        <div class="adv-banner">
                            <img src="assets/images/shop-adv.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End News -->
	<!-- Start Footer -->
    <footer class="section-padding bg-dark-blue footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="ft-logo mb-lg-80">
                        <img src="assets/images/ft-logo.png" class="image-fit" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-sm-80">
                        <h5 class="text-custom-white fw-600">About Us<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Insights</a>
                            </li>
                            <li>
                                <a href="#">PCI Compliance</a>
                            </li>
                            <li>
                                <a href="#">Integrations</a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-sm-80">
                        <h5 class="text-custom-white fw-600">For Developers<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">Docs</a>
                            </li>
                            <li>
                                <a href="#">Knowledge base</a>
                            </li>
                            <li>
                                <a href="#">System status</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                            <li>
                                <a href="#">Security</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-widgets mb-xs-80">
                        <h5 class="text-custom-white fw-600">Resources<span class="text-orange">.</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="#">PDF Docs</a>
                            </li>
                            <li>
                                <a href="#">Leadership</a>
                            </li>
                            <li>
                                <a href="#">Press/News</a>
                            </li>
                            <li>
                                <a href="#">Careers/Team</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6">
                    <div class="footer-widgets newsletter">
                        <h5 class="text-custom-white fw-600">Subscribe Now<span class="text-orange">.</span></h5>
                        <div class="input-group mb-xl-20">
                            <input type="email" name="#" class="form-control form-control-custom" placeholder="Email address">
                            <div class="input-group-append">
                                <button>
                                    <i class="fal fa-envelope"></i>
                                </button>
                            </div>
                        </div>
                        <img src="assets/images/iso.png" class="image-fit" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <ul class="custom-flex ft-menu">
                        <li>
                            <a href="#" class="text-custom-white">Products</a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">Platform</a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">Refund Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p class="text-custom-white fw-500">Copyright By @ <a href="https://webtend.net/" class="text-custom-white">Webtend</a></p>
                </div>
                <div class="col-lg-4">
                    <ul class="custom-flex ft-social">
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-behance"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-custom-white">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top" class="back-top">
        <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
    </div>
    <!-- End Footer -->
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Inview -->
    <script src="assets/js/jquery.inview.min.js"></script>
    <!-- Slick Slider -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.js"></script>
    <!-- Morris Chart -->
    <script src="assets/js/raphael-min.js"></script>
    <script src="assets/js/morris.min.js"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- Custom Js -->
    <script src="assets/js/custom.js"></script>
    <!-- /Place all Scripts Here -->
</body>
</html>