{% extends 'base.html' %}
{% load static %}
		



{% block content %}
<div class="main-page-wrapper">



			<!-- 
			=============================================
				Theme Header
			============================================== 
			-->
			
 {% include 'header3.html' %}

			<!--
			=====================================================
				Theme Inner page Banner
			=====================================================
			-->
			<section class="inner-page-banner">
				<div class="opacity">
					<div class="container">
						<h2>Menufecturing</h2>
						{% comment %} <ul>
							<li><a href="index.html">Home</a></li>
							<li>/</li>
							<li>Blog Details</li>
						</ul> {% endcomment %}
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</section> <!-- /.inner-page-banner -->
			

			
			<!--
			=====================================================
				Blog Page Details
			=====================================================
			-->
			<article class="blog-details-page">
				<div class="container">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
						<div class="blog-details-post-wrapper">
							<img src="{% static 'images/blog/8.jpg' %}" alt="Image">
							<div class="post-heading">
								<h4>Playback: Akufo-Addo speaks to business community</h4>
								<span>Posted by <a href="#" class="tran3s p-color">admin</a>  at 04 Feb, 2017</span>
							</div> <!-- /.post-heading -->
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Eceeur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<h6>Entrepreneurship Program</h6>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model setence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cuidtat non proident, sunt in culpa qui officia.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
								</div> <!-- /.col -->
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<img src="{% static 'images/blog/9.jpg' %}" alt="Image">
								</div> <!-- /.col- -->
							</div> <!-- /.row -->

							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard Mclintock, a Latin professor at Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
							<div class="clear-fix list-img-wrapper">
								<img src="{% static 'images/blog/10.jpg' %}" alt="Image" class="float-left">
								
							</div> <!-- /.list-img-wrapper -->


							<div class="clear-fix post-share-area">
								<ul class="share float-left">
									<li><a href="#" class="tran3s active">Business,</a></li>
									<li><a href="#" class="tran3s">Advertising ,</a></li>
									<li><a href="#" class="tran3s">Marketing,</a></li>
									<li><a href="#" class="tran3s">Optimization</a></li>
								</ul>
								<ul class="share-icon float-right">
									<li>Share:</li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /post-share-area -->
						</div> <!-- /.blog-details-post-wrapper -->
					</div> <!-- /.col- -->

					<!-- ========================== Aside Bar ======================== -->
					<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
						<aside>
							

							<div class="sidebar-news-list">
								<h6>Latest News</h6>
								<ul>
									<li><a href="#" class="tran3s active"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Google and Your Business</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Small Business Trends</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Aweber Communications</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Planning Start-up Stories</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Learn About Six Business</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Succeed As Your Own Boss</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Guardian Small Business Network</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> KPMG Small Business Accounting</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> CorpNet - The Startup Starting Line</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tips for Successful Marketing</a></li>
									<li><a href="#" class="tran3s"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Microsoft US Small and Midsize Business</a></li>
								</ul>
							</div> <!-- /.sidebar-news-list -->

						

						 <!-- /.sidebar-archives -->

							<div class="sidebar-recent-post">
								<h6>RECENT POST</h6>

								<div class="recent-single-post clear-fix">
									<img src="images/blog/4.jpg" alt="Image" class="float-left">
									<div class="post float-left">
										<a href="#" class="tran3s">Playback: Akufo-Addo speaks to business community in United States.</a>
										<span>January 18, 2017</span>
									</div> <!-- /.post -->
								</div> <!-- /.recent-single-post -->

								<div class="recent-single-post clear-fix">
									<img src="images/blog/5.jpg" alt="Image" class="float-left">
									<div class="post float-left">
										<a href="#" class="tran3s">Playback: Akufo-Addo speaks to business community in United States.</a>
										<span>January 18, 2017</span>
									</div> <!-- /.post -->
								</div> <!-- /.recent-single-post -->

								<div class="recent-single-post clear-fix">
									<img src="images/blog/6.jpg" alt="Image" class="float-left">
									<div class="post float-left">
										<a href="#" class="tran3s">Playback: Akufo-Addo speaks to business community in United States.</a>
										<span>January 18, 2017</span>
									</div> <!-- /.post -->
								</div> <!-- /.recent-single-post -->

								
								</div> <!-- /.recent-single-post -->
							</div> <!-- /.sidebar-recent-post -->

							 <div class="sidebar-tags">
								<h6>Tags</h6>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus corporis itaque odit in aspernatur perspiciatis aut animi eveniet tenetur at cum, iure, laboriosam amet similique ipsa laborum minus vitae labore beatae! Consequuntur magnam cupiditate, autem non vel quo ab architecto sed quae recusandae quod veritatis amet magni libero fuga, totam molestiae a est voluptatem quasi quis in vero praesentium ut? Eius illo beatae fuga delectus reiciendis provident suscipit deleniti minima, in culpa dignissimos nihil nostrum sint natus, numquam impedit corrupti eum distinctio pariatur similique? Repellat deleniti quo nulla molestiae quos. Inventore eveniet eaque laudantium velit libero! Cum inventore ea harum animi asperiores incidunt quidem, voluptates, neque maiores impedit ratione. Dolore nisi eius optio sed. Nesciunt aperiam ab nemo.</p>
							</div> <!-- /.sidebar-tags --> 
						</aside>
					</div> <!-- /.col- -->
				</div> <!-- /.container -->
			</article>
	        



			<!--
			=====================================================
				Footer
			=====================================================
			-->{% include 'footer.html' %}




			<!-- =============================================
				Loading Transition
			============================================== -->
			<div id="loader-wrapper">
				<div id="preloader_1">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>
{% endblock content %}