{% extends 'base.html' %}
{% load static %}
{% block content %}
<footer style="background:#ffffff;" >
				<div class="container">
					<a href="index.html" class="logo"><img src="{% static 'images/logo/scg.png' %}" alt="Logo" style="height:80px;width:200px;"></a>

					<ul>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					
					</ul>

					<p style="color:#000000">Copyright @ <span id="year"></span> All rights reserved | SCG that stands for Shreedayini Consulting Group, is a prominent yet rapidly growing consulting firm based in India that applies in depth industry expertise and demanding analysis to assist business leaders and contenders succeed and get practical results with genuine impact. <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">SCG</a></p>
				</div>
			</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
{% endblock content %}

