{% load static %}
<header class="theme-main-header">
				<div class="container">
				<a href="{% url 'index' %}" class="logo float-left tran4s"><img src="{% static 'images/logo/logo.png' %}" alt="Logo" style="height:50px;width:120px;"></a>
					{% comment %} <a href="{% url 'index' %}" class="logo float-left tran4s word" style="margin-top:0px;">
					<span style="font-size:60px;color:#205313;" >S</span>
					<span style="font-size:60px;color:#205313;">C</span>
					<span style="font-size:60px;color:#205313;">G</span> {% endcomment %}
					</a>
					{% comment %} <ul class="word" style="display: inline;">
					<span>M</span>
					<span>A</span>
					<span>N</span>
					<span>G</span>
					<span>U</span>
                 </ul> {% endcomment %}
					
					<!-- ========================= Theme Feature Page Menu ======================= -->
					<nav class="navbar float-right theme-main-menu one-page-menu">
					   <!-- Brand and toggle get grouped for better mobile display -->
					   <div class="navbar-header">
					     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					       <span class="sr-only">Toggle navigation</span>
					       Menu
					       <i class="fa fa-bars" aria-hidden="true"></i>
					     </button>
					   </div>
					   <!-- Collect the nav links, forms, and other content for toggling -->
					   <div class="collapse navbar-collapse" id="navbar-collapse-1">
					     <ul class="nav navbar-nav">
					       	<li class="active"><a href="{% url 'index' %}">HOME</a></li>


							   	<li class="dropdown-holder"><a href="#blog-section">INDUSTRIES</a>
									<ul class="sub-menu" style=" list-style: none;">
					       					<li style="display: inline-flex; "><a href="{% url 'signup' %}" class=""  style="display: inline-block;"> Agriculture</a></li>
								
									</ul>
							     </li>

					       		


							<li><a href="#about-us">CAPABILITIES</a></li>
							<li><a href="#service-section">JOIN US</a></li>
							
						
						
							<li><a href="{% url 'contact' %}">CONTACT</a></li>
					     </ul>
					   </div><!-- /.navbar-collapse -->
					</nav> <!-- /.theme-feature-menu -->
				</div>
			</header> <!-- /.theme-main-header -->