{% extends 'base.html' %}
{% load static %}


{% block content %}
		<div class="main-page-wrapper">
     {% include 'header3.html' %}

			<!--
			=====================================================
				Theme Main SLider
			=====================================================
			-->
			
   {% include 'slider.html' %}

	        <!--
			=====================================================
				About us Section
			=====================================================
			-->
			<section id="about-us">
				<div class="container">
					<div class="theme-title">
						<h2 class="word">
						  <span>A</span>
						  <span>B</span>
						  <span>O</span>
						  <span>U</span>
						  <span>T</span>
						  <span></span>
					
				
						  <span>U</span>
						  <span>S</span>
			
						 
						</h2>
						<p>SCG that stands for Shreedayini Consulting Group, is a prominent yet rapidly growing consulting firm based in India that applies in depth industry expertise and demanding analysis to assist business leaders and contenders succeed and get practical results with genuine impact. Our uncompromising approach to help clients unfailingly make better decisions, deliver value-added performance in business and create bigger revenue on investment of shareholders.</p>
						<p>Since 2015, professional consultants have assembled as SCG from the corners of the India and abroad. Each of them holds specialization, proficiency and focus in their unique area. Yet for all the variety in SCG, every individual of our more than 50 professionals have basic and vital in common at some degree: an objective of facilitating our clients make the most of their business.</p>
						<p>At present, we are delighted to work with a few of the potential, innovative and successfully running organizations across the globe. Hence, we look for the logically curious, self-confident and high-achiever types. So, we hire individuals who signifies analysis over hypothesis and respectively our ethos values evidence over belief.</p>
						<p>Whatsoever the measure, from our major to our most attentive assignment, we do not take anything for granted. We think through each problem factually based on complete research. And we follow the data without any compromise. We provide not just the orthodox wisdom but also profounder and sharper insights that are considerable and give our clients a data advantage.</p>
					</div> <!-- /.theme-title -->

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Web Development</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-camera" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">PHOTOGRAPHY</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-life-ring" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Digital Media</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-line-chart" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Online Marketing</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /#about-us -->


			<!--
			=====================================================
				Service Section
			=====================================================
			-->
			<div id="service-section">
				<div class="container">
					<div class="theme-title">
						<h2>SERVICES WE PROVIDE</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Web Design</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-camera" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Photography</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Web Development</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Online Marketing</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Digital Media</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><i class="fa fa-anchor" aria-hidden="true"></i></div>
									<h6><a href="#" class="tran3s">Support</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /#service-section -->



			<!--
			=====================================================
				Project Section
			=====================================================
			-->
			<div id="project-section">
				<div class="container">
					<div class="theme-title">
						<h2>OUR AWESOME PROJECTS</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="project-menu">
						<ul>
	        				<li class="filter active tran3s" data-filter="all">All</li>
							<li class="filter tran3s" data-filter=".web">Web Design</li>
							<li class="filter tran3s" data-filter=".photo">Photography</li>
							<li class="filter tran3s" data-filter=".webd">Web Development</li>
							<li class="filter tran3s" data-filter=".om">Online Marketing</li>
							<li class="filter tran3s" data-filter=".dmedia">Digital Media</li>
							<li class="filter tran3s" data-filter=".support">Support</li>
	        			</ul>
					</div>

					<div class="project-gallery clear-fix">
						<div class="mix grid-item photo om dmedia">
							<div class="single-img">
								<img src="{% static 'images/project/1.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item web webd dmedia support">
							<div class="single-img">
								<img src="{% static 'images/project/2.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item photo webd support">
							<div class="single-img">
								<img src="{% static 'images/project/3.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item web om">
							<div class="single-img">
								<img src="{% static 'images/project/4.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item photo webd dmedia om">
							<div class="single-img">
								<img src="{% static 'images/project/5.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item web webd dmedia om">
							<div class="single-img">
								<img src="{% static 'images/project/6.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item photo om support">
							<div class="single-img">
								<img src="{% static 'images/project/7.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item web support">
							<div class="single-img">
								<img src="{% static 'images/project/8.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

						<div class="mix grid-item photo webd dmedia support">
							<div class="single-img">
								<img src="{% static 'images/project/9.jpg' %}" alt="Image">
								<div class="opacity">
									<div class="border-shape"><div><div>
										<h6><a href="#">Sweet Photo</a></h6>
										<ul>
											<li>Business /</li>
											<li>Service /</li>
											<li>Product /</li>
											<li>Template</li>
										</ul></div></div>
									</div> <!-- /.border-shape -->
								</div> <!-- /.opacity -->
							</div> <!-- /.single-img -->
						</div> <!-- /.grid-item -->

					</div> <!-- /.project-gallery -->
				</div> <!-- /.container -->
			</div> <!-- /#project-section -->

			<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

			<div class="page-middle-banner">
				<div class="opacity">
					<h3>We Create Creative <span class="p-color">&amp;</span> Best Unique Design</h3>
					<a href="#" class="hvr-bounce-to-right">Let's Work Together</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->


			<!--
			=====================================================
				Team Section
			=====================================================
			-->
			<div id="team-section">
				<div class="container">
					<div class="theme-title">
						<h2>Meet our Team</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="clear-fix team-member-wrapper">
						<div class="float-left">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/2.jpg' %}" alt="Image">
									<div class="opacity tran4s">
										<a href="{% url 'team' %}">
										<h4>Gonzalez Gina</h4>
										<span>Web Developer</span>
										<p>On the other hand, We denounce ut with righteo indignation and dislike men who are so beguiled and demoralized.</p>
										</a>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>Gonzalez Gina</h6>
									<p>Web Developer</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->

						<div class="float-left">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/2.jpg' %}" alt="Image">
									<div class="opacity tran4s">
									<a href="{% url 'team' %}">
										<h4>Holly Vincenzini</h4>
										<span>Media Partner</span>
										<p>On the other hand, We denounce ut with righteo indignation and dislike men who are so beguiled and demoralized.</p>
										</a>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>Holly Vincenzini</h6>
									<p>Media Partner</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->

						<div class="float-left">
							<div class="single-team-member">
								<div class="img">
								<a href="{% url 'team' %}">
									<img src="{% static 'images/team/2.jpg' %}" alt="Image">
									<div class="opacity tran4s">
										<h4>Ramirez Minita</h4>
										<span>Graphic Design</span>
										<p>On the other hand, We denounce ut with righteo indignation and dislike men who are so beguiled and demoralized.</p>
								</a>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>Ramirez Minita</h6>
									<p>Graphic Design</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->
					</div> <!-- /.team-member-wrapper -->
				</div> <!-- /.conatiner -->
			</div> <!-- /#team-section -->




			<!--
			=====================================================
				Skill Section
			=====================================================
			-->
			<div id="skill-section">
				<div class="container">
					<div class="clear-fix">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="img"><img src="{% static 'images/home/2.jpg' %}" alt="Image"></div>
						</div> <!-- /.col- -->

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="skills-progress skills">
								<div class="habilidades_contenedor">
							        <div class="codeconSkills">
							            <div class="codeconSkillbar">
							            	<div class="skill-text">
							            		<span class="codeconSkillArea">Web Development</span>
							            	</div>
							                <div class="skillBar" data-percent="89%">
							                	<span class="PercentText">89%</span>
							                </div>
							            </div>
							            <div class="codeconSkillbar">
							            	<div class="skill-text">
							            		<span class="codeconSkillArea ">Online Marketing</span>
							                    
							            	</div>
								            <div class="skillBar" data-percent="58%">
								                <span class="PercentText">58%</span>
								            </div>
							            </div>
								        <div class="codeconSkillbar">
								        	<div class="skill-text">
							            		<span class="codeconSkillArea">Digital Media</span>
							                    
							            	</div>
								            <div class="skillBar" data-percent="49%">
								                <span class="PercentText">49%</span>
								            </div>
								        </div>
								        <div class="codeconSkillbar">
								        	<div class="skill-text">
							            		<span class="codeconSkillArea">Photography</span>
							                    
							            	</div>
								            <div class="skillBar" data-percent="76%">
								                <span class="PercentText">76%</span>
								            </div>
								        </div>
								        <div class="codeconSkillbar">
								        	<div class="skill-text">
							            		<span class="codeconSkillArea">Creative Design</span>
							                    
							            	</div>
								            <div class="skillBar" data-percent="64%">
								                <span class="PercentText ">64%</span>
								            </div>
								        </div>
							    	</div> <!-- /.codeconSkills -->
							    </div> <!-- /.habilidades_contenedor -->
							</div> <!-- /.skills-progress -->
						</div>
					</div> <!-- /.clear-fix -->
				</div> <!-- /.container -->
			</div> <!-- /#skill-section -->



			<!--
			=====================================================
				Our Client
			=====================================================
			-->
			<div id="our-client">
				<div class="container">
					<div class="theme-title">
						<h2>OUR HAPPY CLIENTS</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="client-slider">
						<div class="item">
							<img src="{% static 'images/home/c1.jpg' %}" alt="Client">
							<p>Our successful construction approach is based on aggressive subcontractor administration, employ-ment of competent personnel, accurate schedule control, quality control and cost control. We employ only qualified subcontractors who share our goal in creating quality projects.</p>
							<h6>- Spryte Loriano -</h6>
						</div> <!-- /.item -->
						<div class="item">
							<img src="{% static 'images/home/c2.jpg' %}" alt="Client">
							<p>Our successful construction approach is based on aggressive subcontractor administration, employ-ment of competent personnel, accurate schedule control, quality control and cost control. We employ only qualified subcontractors who share our goal in creating quality projects.</p>
							<h6>- Spryte Loriano -</h6>
						</div> <!-- /.item -->
						<div class="item">
							<img src="{% static 'images/home/c3.jpg' %}" alt="Client">
							<p>Our successful construction approach is based on aggressive subcontractor administration, employ-ment of competent personnel, accurate schedule control, quality control and cost control. We employ only qualified subcontractors who share our goal in creating quality projects.</p>
							<h6>- Spryte Loriano -</h6>
						</div> <!-- /.item -->
					</div> <!-- /.client-slider -->
				</div> <!-- /.container -->
			</div> <!-- /#our-client -->

			

			<!--
			=====================================================
				Pricing Section
			=====================================================
			-->
			<div id="pricing-section">
				<div class="container">
					<h2 style="text-align: center; margin-bottom:30px;"> <b>INDUSTRIES</b></h2>
					<div class="clear-fix">
				
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						
							<div class="single-price-table hvr-float-shadow">
								{% comment %} <h4>Basic</h4>
								<p>The best to start</p> {% endcomment %}
								<strong class="color1 ">Category (A) <span></span></strong>
							<b>	<ul>
									<li>Agriculture</li>
									<li>Education</li>
									<li>Startup Business</li>
									<li>Training & Skill Development</li>
									<li>I T & ITes</li>
									<li>Artificial Intelligence</li>
									<li>Mining</li>
									<li>Transport & Logistic</li>
								</ul></b>
								{% comment %} <a href="#" class="tran3s p-color-bg">BUY IT NOW</a> {% endcomment %}
							</div> <!-- /.single-price-table -->
						</div> <!-- /.col -->

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="single-price-table hvr-float-shadow">
								{% comment %} <h4>Advanced</h4>
								<p>The best to start</p> {% endcomment %}
								<strong class="color2">Category (B) <span></span></strong>
							<b>	<ul>
									<li>Import & Export</li>
									<li>Rural Development</li>
									<li>Manufacturing</li>
									<li>Fabrication </li>
									<li>Construction</li>
									<li>Water Resources</li>
									<li>Waste Management</li>
									<li>Solar & Electronics</li>
								
								</ul></b>
								{% comment %} <a href="#" class="tran3s p-color-bg">BUY IT NOW</a> {% endcomment %}
							</div> <!-- /.single-price-table -->
						</div> <!-- /.col -->

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="single-price-table hvr-float-shadow">
								{% comment %} <h4>PREMIUM</h4>
								<p>The best to start</p> {% endcomment %}
								<strong class="color3">Category (C)<span></span></strong>
								<ul>
								<b><li>Finance</li></b>
									<b><li>E-Commerce</li></b>
									<b><li>Retail</li></b>
								<b>	<li>Goverment</li></b>
								<b>	<li>Private Industries</li></b>
									<b><li>NGO/Non-Profit/Trust/Sociaty</li></b>
									<b><li>Research</li></b>
									<b><li>Survey</li></b>
								</ul>
								{% comment %} <a href="#" class="tran3s p-color-bg">BUY IT NOW</a> {% endcomment %}
							</div> <!-- /.single-price-table -->
						</div> <!-- /.col -->
					</div>
				</div> <!-- /.container -->
			</div> <!-- /#pricing-section -->



			<!--
			=====================================================
				Blog Section
			=====================================================
			-->
			<div id="blog-section">
				<div class="container">
					<div class="theme-title">
						<h2>OUR LATEST Blog</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="clear-fix">
						{% for blog in blogs  %}
						    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="single-news-item">
								<div class="img"><img src="{{blog.blog_image.url}}" alt="Image">
									<a href="{% url 'details' %}" class="opacity tran4s"><i class="fa fa-link" aria-hidden="true"></i></a>
								</div> <!-- /.img -->

								<div class="post">
									<h6><a href="{% url 'details' %}" class="tran3s">Playback: Akufo-Addo speaks to business community</a></h6>
									<a href="{% url 'details' %}">Posted by <span class="p-color">{{blog.posted_by}}</span>  at {{blog.blog_date}}</a>
									<p>{{blog.description}} <a href="{% url 'details' %}" class="tran3s">Read More</a></p>
								</div> <!-- /.post -->
							</div> <!-- /.single-news-item -->
						</div> <!-- /.col- -->
						{% endfor %}
					</div> <!-- /.clear-fix -->
				</div> <!-- /.container -->
			</div> <!-- /#blog-section -->



			<!--
			=====================================================
				Partner Section
			=====================================================
			-->
			<div id="partner-section">
				<div class="container">
					<div id="partner_logo" class="owl-carousel owl-theme">
						<div class="item"><img src="{% static 'images/logo/p1.png' %}" alt="logo"></div>
						<div class="item"><img src="{% static 'images/logo/p2.png' %}" alt="logo"></div>
						<div class="item"><img src="{% static 'images/logo/p3.png' %}" alt="logo"></div>
						<div class="item"><img src="{% static 'images/logo/p4.png' %}" alt="logo"></div>
						<div class="item"><img src="{% static 'images/logo/p5.png' %}" alt="logo"></div>
						<div class="item"><img src="{% static 'images/logo/p2.png' %}" alt="logo"></div>
					</div> <!-- End .partner_logo -->
				</div> <!-- /.container -->
			</div> <!-- /#partner-section -->



			<!--
			=====================================================
				Contact Section
			=====================================================
			-->
			



			<!--
			=====================================================
				Footer
			=====================================================
			-->
			

<footer  style="background:#03989E;margin-bottom:0">
				<div class="container">
					{% comment %} <a href="index.html" class="logo"><img src="{% static 'images/logo/scg.png' %}" alt="Logo" style="height:80px;width:200px;"></a> {% endcomment %}

					{% comment %} <ul>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
					</ul> {% endcomment %}

					{% comment %} <p>Copyright @ <span id="year"></span> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">SCG</a></p> {% endcomment %}
					<h3 style="color:#ffffff">The latest SCG thought leadership</h3>
				</div>
			</footer>
			{% include 'footer.html' %}
			<!-- =============================================
			
				Loading Transition
			============================================== -->
			<div id="loader-wrapper">
				<div id="preloader_1">
	               <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>




		

		</div> <!-- /.main-page-wrapper -->
{% endblock content %}